<html>

	<head>
		<title>Register page</title>
	</head>
	<body style="background-color:powderblue;">
		<form action = "/register" ALIGN= "middle" method = "post">
				<h1> Sign up page: <br><br>
					<img src ="/static/scientist.jpg" alt="Image taken from Google.com" height="225" width="225">

					<h3> Please sign up here with a cool username: </h3>
					<input type="text" name = 'new_username'><br>
					<input type="submit" value="Sign Up"><br>
					
				</h1>
				 
		</form>

		
	</body>
</html>