<!DOCTYPE html>
<html>
	<head>
		<title>To Do List Web App</title>
	</head>
	<body style="background-color:powderblue;">

		<h1 ALIGN = "middle">TO DO LIST</h1>
		<div>
		

		</div>	
		
			<ul>	
				{% for todo in todos %}
					<li>
					{% if todo.completed == false %}
						{{todo.content}}
						<a href = "/delete/{{todo.id}}"><button>delete</button></a>
						<a href = "/done/{{todo.id}}"><button>Done</button></a>
					{% else %}
						
						<strike> {{todo.content}}</strike>
						<a href = "/delete/{{todo.id}}"><button>delete</button></a>
						<a href = "/notdone/{{todo.id}}"><button>Undo</button></a>
					{% endif %}
			
					</li>
				{% endfor %}
			</ul>
		

	<div>
		<form action = "/add " method = "post">
			Task to add:
			<input type= "text" name = "new_task">
			<input type="submit" value="submit">	
		</form>

		
	</div>


	<br><br><br><br><br><br><br><br>
	<a href = "/logout"><button>Log Out</button></a>
		
				 
	</form>
		
				
	</body>


</html>